@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  pointer-events: none;
  user-select: none;
  font-variation-settings: 'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'24;

  &.md-18 {
    font-size: 18px;
  }

  &.md-24 {
    font-size: 24px;
  }

  &.md-36 {
    font-size: 36px;
  }

  &.md-48 {
    font-size: 48px;
  }

  &.md-96 {
    font-size: 96px;
  }

  &.md-512 {
    font-size: 512px;
  }
}
