.category-list {
  margin-bottom: 80px;
}

.hint{
  user-select: none;
  position: absolute;
  font-weight: 200;
  font-size: 32px;
  filter: blur(1px);

  &.hint-left {
    top: 35%;
    left: 1%;
    transform: rotate(-35deg);
  }

  &.hint-right {
    text-align: center;
    top: 85%;
    left: 70%;
    transform: rotate(-35deg);
  }
}