.button {
  position: relative;
  font-weight: 900;
  font-size: 72px;
  display: block;
  background-color: black;
  color: white;
  outline: 8px solid white;
  border: 8px solid white;
  outline-offset: -24px;
  padding: 30px;
  width: min-content;
  cursor: pointer;

  .button-alt-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  &:hover {
    transition: 0.2s;
    background-color: white;
    color: black;
    outline-color: black;
    border-color: black;

    .button-label {
      opacity: 0;
    }

    .button-alt-label {
      opacity: 1;
    }
  }
}
